button {
  border: none;
  cursor: pointer;
  transition: all;
  transition-duration: 250ms;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;

  width: 175px;
  height: 50px;
  text-align: center;

  text-decoration: none;
  background: #ede0d4;
  color: #9c6644;
  border-radius: 9999px;

  box-shadow: -5px -5px 10px rgba(255, 240, 230, 0.8),
    5px 5px 10px rgba(0, 0, 0, 0.25);
}

button:hover {
  color: #7f5539;
  box-shadow: -1px -1px 5px rgba(255, 240, 230, 0.6),
    1px 1px 5px rgba(0, 0, 0, 0.3);
}
